.footer{
    background-color:black;
    height: 500px;
}
.container{
    width: 960px;
}
.footer a{.footer{
              background-color:black;
              height: 500px;
          }
.container{
    width: 960px;
}
.footer a{.
          footer{
              background-color:black;
              height: 500px;
          }
.container{
    width: 960px;
}
.footer a{
    color: white;
}
.footer li{
    list-style: none;
}
.footer-widget-title{
    margin-bottom: 20px;
}
.footer ul{
    padding-left: 0px;
}
.text-widget li{
    margin-bottom: 15px;
}
.text-widget a{
    color: #686e74;
}
.text-widget a:hover{
    color: #ff0003;
}
.container1{

}
    color: white;
}
.footer li{
    list-style: none;
}
.footer-widget-title{
    margin-bottom: 20px;
}
.footer ul{
    padding-left: 0px;
}
.text-widget li{
    margin-bottom: 15px;
}
.text-widget a{
    color: #686e74;
}
.text-widget a:hover{
    color: #ff0003;
}
.container1{

}
    color: white;
}
.footer li{
    list-style: none;
}
.footer-widget-title{
    margin-bottom: 20px;
}
.footer ul{
    padding-left: 0px;
}
.text-widget li{
   margin-bottom: 15px;
}
.text-widget a{
    color: #686e74;
}
.text-widget a:hover{
    color: #ff0003;
}
.container1{

}