<<<<<<< HEAD
=======

.video-post{
    margin-top: 20px;
    height: 580px;
    /*background: linear-gradient(rgba(0,0,0,0),black);*/
    background-color: black;
}
.video-s{
    width: 1170px;
    height: 580px;
    margin: auto;
    padding-top: 15px;
}
.video-top{
    width: 1170px;
    height: 50px;
    margin: auto;
    padding-top: 14px;
}
.video-main{
    width: 1170px;
    height: 524px;
    float: left;
}
.video-main-left{
    width: 66.67%;
    height: 90%;
    float: left;
    position: relative;
    overflow: hidden;
}

.hover-1{
    width: 100%;
    height: 472px;
}
.hover-1 p{
    position: absolute;
    z-index: 5;
}
.hover-1 a{
    transition: all 1s;
}
.hover-1:hover>a{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.video-main-left-img{
    overflow: hidden;
    max-height: 100%;
    position: absolute;
}
.video-main-left-text{
    position: absolute;
    top: 300px;
    left: 50px;
    z-index: 5;
}
.video-main-left-text h3{
    margin-top: 0;
}
.video-day{
    float: left;
    margin-top: 15px;
}
.video-day ul{
    color: white;
    opacity: 0.7;
}
.video-day li{
    float: left;
    list-style: none;
    margin-right: 20px;

}
.video-day li a{
    color: white;
}
.video-day li a:hover{
    color: red;
}
.video-main-left-text b{
    font-size: 35px;

}

.video-main-right{
    width: 33.33%;
    height: 90%;
    float: right;
}

.video-main-right-1{
    position: relative;
    width: 360px;
    height: 124px;
}
.video-main-right-2{
    margin-top: 30px;
    position: relative;
    width: 360px;
    height: 124px;
}
.video-right{

    width: 100%;
    float: left;
}
.video-1{
    float: left;
    overflow: hidden;
    width: 34%;
}
.video-1 a img{
    transition: all 0.5s;
}
.video-1:hover>a>img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.text-right-1{
    width: 66%;
    float: right;
    padding-left: 20px;
}
.media a{
    color: blue;
}
.media a:hover{
    color: crimson;
}
.text-right-1 h4{
    width: 210px;
}
.text-right-1 h4 a{
    color: white;
    font-size: 18px;
    overflow: hidden;
    line-height: 1.3;
}

.text-right-2 ul{
    list-style: none;
    float: left;
}
.text-right-2 li{
    float: left;
    color: white;
    opacity: 0.6;
    margin-right: 10px;
}
.text-right-2 ul a{
    opacity: 0.6;
    color: white;
}
.text-right-2 ul a:hover{
    color: orangered;
}
.play-video{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 37%;
    left: 12%;
    background-color: white;
    text-align: center;
    border-radius: 100%;
    padding-left: 3px;
    padding-top: 11px;
}


.video-top h2{
    margin-top: -12px;
    float: left;
    font-size: 30px;
    width: 30%;
}
.video-top a{
    margin-left: 700px ;
}
.container{
    padding: 0;
}
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
.col-md-8{
    padding: 0;
}
.main-left-1{
    width: 100%;
    height: 340px;
    float: left;
}
.main-left-img{
    width: 40%;
    margin-top: 15px;
    float: left;
    overflow: hidden;
    display: block;

}
.anh-s{
    width: 100%;
    transition: all 1s;
    overflow: hidden;
}
.anh-s:hover{
    transform: scale(1.2);
}

.main-left-text{
    width: 59%;
    margin-top: 15px;
    padding-left: 30px;
    float: left;
}
.text-top{
    font-size: 12px;
    float: left;
    text-align: center;
    padding-top: 4px;
    color: white;
    width: 70px;
    height: 25px;
    background-color: #337ab7;
    animation-name: text-top;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.text-top a{
    color: white;
}
.text-top a:hover{
    color: #000000;
}
@keyframes text-top {
    0%  {background-color: blue;}
    50%  {background-color: red;}
    70%  {background-color: brown;}
    100% {background-color: yellowgreen;}
}
<<<<<<< HEAD
/*img{*/
/*    max-height: 300px;*/
/*    max-width: 300px;*/
/*}*/
=======

>>>>>>> af256bdd239c813733be303de4d98ca25e389920
.text-main{
    float: left;
    overflow: hidden;
}
.text-main a{
    display:inline-block;
}
.text-main h3{
    position: relative;

}
.text-main-a1{
    text-decoration: none;
    color: black;
}
.text-main-a1:hover{
    color: orangered;
}
span::before{
    position: relative;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: black;
}
span:hover:before{
    background-repeat: no-repeat;
    width: 100%;
    transition: all 0.4s;
}
.text-main p{
    font-size: 17px;
    line-height: 1.8;
}
.ppp{
    opacity: 0.6;
}

<<<<<<< HEAD
.post-block:hover .hover-line a {
    background-size: 100% 2px
}

.author-details-block .post-block:hover .hover-line a {
    background-size: 0 2px
}

.author-details-block .hover-line:hover a {
    background-size: 100% 2px!important
}

=======
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
.hover-line a {
    position: relative;
    display: inline;
    background-image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
    background-image: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
    background-image: -o-linear-gradient(left, currentColor 0%, currentColor 100%);
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0 2px;
    background-position: 0 95%;
    -webkit-transition: background-size 0.25s cubic-bezier(.785, .135, .15, .86) 0s;
    -o-transition: background-size 0.25s cubic-bezier(.785, .135, .15, .86) 0s;
    transition: background-size 0.25s cubic-bezier(.785, .135, .15, .86) 0s;
    padding: .1% 0;
    background-repeat: no-repeat;
    color: inherit
}

.hover-line a:hover {
    background-size: 100% 2px
}

.axil-img-container:hover .hover-line a {
    background-size: 100% 2px
}

.axil-team-block:hover .hover-line a {
    background-size: 100% 2px
}

@media screen and (min-width:0 \0) {
    .axil-latest-post .post-block {
        display: block
    }
    .subscribe-popup .section-title {
        display: block
    }
    .bg-grey-dark-one .hover-line a,
    .media-caption .hover-line a,
    .axil-img-container .hover-line a,
    .video-container__type-2 .axil-img-container .media-body {
        display: block!important
    }
    .axil-img-container.flex-height-container .media-body {
        display: block!important;
        position: absolute;
        left: 0;
        top: 440px
    }
    .axil-banner-cat-counter .axil-content::before {
        content: "";
        background: url(https://review.food.com.vn/wp-content/themes/dichvuweb/assets/css/../images/ie-blur-shadow.png);
        background-size: 100% 100%;
        background-position: center center;
        bottom: -5rem
    }
}

.related-post{
<<<<<<< HEAD
    margin: auto;
    /*float: left;*/
}
.related-post-top{
    margin-top: 20px;
    padding-left: 15px;
    height: 70px;
=======
    margin-top: 30px;
}
.related-post-top{
    margin-top: 30px;
    height: 60px;
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
    width: 100%;
}
.related-post-top h2{
    width: 30%;
    margin-top: -5px;
    float: left;
}
.related-post-top a{
    width: 70%;
<<<<<<< HEAD
    margin-left: 650px;
=======
    margin-left: 685px;
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
    color: black;
}
.related-post-top a:hover{
    color: #2aabd2;
}
.related-post-main{
<<<<<<< HEAD
=======
    margin-top: 15px;
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
    height: 400px;
}
.related-post-main-img{
    overflow: hidden;
    position: relative;
    z-index: 0;
}
<<<<<<< HEAD
.col-md-4{
    width: 250px;
    margin-left: 30px;
    overflow: hidden;
    padding: 0;
=======

.col-md-4-1{
    width: 292px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

/*Thêm màu*/
.blackdown{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, black, #40333300);
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
}
.anh-son{
    transition: all 0.5s;
    overflow: hidden;
}
.anh-son:hover{
    transform: scale(1.1);

}
<<<<<<< HEAD

.text-a{
    text-decoration: none;
    display: block;
    width: 100%;
=======
.text-a{
    width: 100%;
    text-decoration: none;
    display: block;
    height: 100%;
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
}
.related-post-main-text{
    z-index: 5;
    padding: 20px;
    font-size: 15px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
}
<<<<<<< HEAD
=======

>>>>>>> af256bdd239c813733be303de4d98ca25e389920
.related-post-main-text h3{
    height: 80%;
    margin-top: -10px;
    line-height: 1.3;
    font-size: 20px;
}
.related-post-main-text a{
    text-decoration: none;
}
.text-main-a2{
    color: white;
}
.related-post-main-text .text-main-a2:hover{
    color: orangered;
<<<<<<< HEAD
}
=======
}
>>>>>>> af256bdd239c813733be303de4d98ca25e389920
