body{
    background-color: #f2f2f2;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}
.section{
    float: left;
    width: 100%;
}