.history-page-list{
    width: 1110px;
    line-height: 60px;
    margin: auto;
}
.history-page-item{
    color: #7B7B7B;
}
.history-page-item:hover{
    color: red;
    transition: 0.5s;
    text-decoration: none;
}