#header{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-color: black;
}
.header-1{
    margin: 0 auto;
    width: 1170px;
    height: 600px;
    border: 1px solid black;
}
.container{
    width: 180px;
    height:230px;
    border: 1px solid black;
    float: left;
    margin-left: 11px;
    margin-top: 50px;
}

.container .main{
    color: white;
    font-size: 18px;
}
.main-1{
    margin-left: -40px;
    margin-top: 30px;
}
.main-1 li{
    list-style-type: none;
    margin-top:15px;
}
.main-1 a{
    text-decoration: none;
    color: #6b7061;
}
.main-1 li a:hover{
    color: #FF2C54;
}
#nav{
    width: 1170px;
    height: 100px;
    border: 1px solid black;
    margin-top: 300px;

}
.nav-1{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-top: 25px;
}
.icon {
    margin-top: -37px;
    float: right;
    font-size: 20px;
    margin-right: 350px;
}
.main1{
    margin-right: -330px;
}
.main2{
    position: relative;
    top: -20px;
    color: white;
}
.icon1 {
    font-size: 20px;
    background: #121213;
    padding: 10px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    margin-top: -50px;
    margin-left: 150px;
    list-style-type: none;
}
.icon1 i{
    color: white;
    padding: .0em;
    width: 1em;
    height: 1em;
    transition: .3s all;
}
.icon1:hover{
background-color: #FF2C54;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.icon2 {
    font-size: 20px;
    background: #121213;
    padding: 10px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    margin-top: -43px;
    margin-left: 205px;
    list-style-type: none;
}
.icon2 i{
    color: white;
    padding: .0em;
    width: 1em;
    height: 1em;
    transition: .3000ms all;
}
.icon2:hover{
    background-color: #FF2C54;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon3 {
    font-size: 20px;
    background: #121213;
    padding: 10px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    margin-top: -43px;
    margin-left: 260px;
    list-style-type: none;
}
.icon3 i {
    color: white;
    padding: .0em;
    width: 1em;
    height: 1em;
    transition: .3000ms all;
}
.icon3:hover{
    background-color: #FF2C54;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icon4 {
    font-size: 20px;
    background: #121213;
    padding: 10px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
    margin-top: -43px;
    margin-left: 310px;
    list-style-type: none;
}
.icon4 i {
    color: white;
    padding: .0em;
    width: 1em;
    height: 1em;
    transition: .3000ms all;
}
.icon4:hover{
    background-color: #FF2C54;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.section{
   border-top: 1px solid silver;
    width: 100%;
    height: 166px;
    margin-top: 30px;
}
.section1{
    width:100%;
    height: 0;
    font-size: 18px;
    color: white;
    margin-top: 40px;
}
.section1 a {
    color: silver;
    text-decoration: none;
}
.section1 a:hover{
    color: #FF2C54;
}
.section2{
    color:silver ;
    margin-top: 70px;
}





