
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color:#242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;

}
.container{
    width: 1170px;
    margin: 0 auto;
    float: none;

}
.header{
    background-color: black;
    border-bottom: 1px solid #f2f2f2;
    padding: 10px;
    margin-bottom: -8px;
}
nav{
    background-color: #ffffff;
    border-bottom: 1px solid silver;
}
.logo {
    margin-top: -10px;
}
.nav {
    padding-top: 10px;
}
.menu {
    margin-top: -4px;
}
.logo{
    float: left;
}
.top{
    width: 30%;
    float: left;
    color: silver;
    margin-left: -15px;
}
.top-icon{
    width: 30%;
    float: right;
    margin-right: -10px;
}
.top-icon li{
    float: right;
    list-style: none;
    margin-left: 15px;
    width: 25px;
}
.top-icon li a {
    color: silver;
}
.menu li{
    float: left;
    list-style: none;
    margin-right: 20px;
}
.menu li a {
    text-decoration: none;
}


.border{
    float: left;
    width: 120px;
    padding-left: 20px;
}
.Nav_1{
    color: coral;
    font-weight: bold;
    font-size: 16px;
}


.Nav_1{
    transition: width 3s;
}
.Nav_1:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.Nav_1:hover:after { transform: scaleX(1); }
.Nav_1:after{  transform-Origin:  0% 50%; }

.helo{
    width: 120px;
    transition: width 3s;
}
.helo:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.helo:hover:after { transform: scaleX(1); }
.helo:after{  transform-Origin:  0% 50%; }


.Nav_1:hover{
    color: coral;
    width: 250px;
}


.nav_1{
    color: coral;
    font-weight: bold;
    font-size: 16px;
    transition: width 3s;
}
.nav_1:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.nav_1:hover:after { transform: scaleX(1); }
.nav_1:after{  transform-Origin:  0% 50%; }
.nav_1:hover{
    color: coral;
    width: 250px;
}

.nav_1 {
    color: black;
    font-size: 16px;
}
.nav_1-1{
    border: none;
    cursor: pointer;
}

.nav_1:hover{
    color: coral;
}
.nav_1-1 option{
    width: 110px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.khung{
    width: 120px;
    height: 35px;
    float: left;
}
.khung1{
    width: 180px;
    height: 35px;
    float: left;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    background-color: #ffffff;
    line-height: 2;
    font-size: 15px;
    padding-top: 10px;
    width: 200px;
    height: auto;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-top: 12px;
    box-shadow: 0 0 4px 2px silver;
}
.khung:hover .dropdown-content{
    display: block;
}
.khung1:hover .dropdown-content{
    display: block;
}
.menu .last-item{
    float: right;
    margin-right: 0;
    padding-left: 30px;
    margin-top: -5px;
    font-size: 22px;
}
.main{
    padding-top: 30px;
}

.content{
    float: left;
    width: 50%;
    padding-right: 15px;
}
.content-body{
    float: left;
    width: 100%;
    background-color: #ffffff;
    line-height: 1.5;
}
.content1{
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.HieuUng:hover .content1{
    color: black;
    text-decoration: none;
}
.content1:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    width: 100px;
    width: 533px;
}

.content1:before{
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    position: relative;
    top: 40px;
    width: 515px;
}
.HieuUng:hover:after .content1{
    transition-delay:100ms;
}
.content1:hover:after { transform: scaleX(1); }
.content1:hover:before { transform: scaleX(1); }
.content1:after{  transform-Origin:  0% 50%; }
.content1:before{  transform-Origin:  0% 50%; }



.content_1{
    color: black;
}
.content_1:hover{
    color: red;
    text-decoration: none;
}

.noidung {
    overflow: hidden;
}
.anh_1 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.HieuUng:hover .anh_1{
    transform: scale(1.1);
}

.aside{
    float: left;
    width: 50%;
    padding-left: 15px;
}
.khung3{
    width: 555px;
}
.block{
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.block_1{
    float: right;
    width: 62%;
    margin-top: -115px;
    margin-right: 30px;
}

.block_1 p {
    font-size: 14px;
    font-weight: 100;
}




.block_1-1{
    color: black;
    line-height: 1.25;
}
.block_1-1:hover{
    color: black;
    text-decoration: none;
}
.block_1-1:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    width: 290px;
}
.block_1-1:before{
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    position: relative;
    top: 24px;
    width: 340px;
}
.block_1-1:hover:after {
    transition-delay:100ms;
}
.block_1-1:hover:after, .block_1-1:hover:before { transform: scaleX(1); }
.block_1-1:after, .block_1-1:before{  transform-Origin:  0% 50%; }

.block_1-2{
    color: black;
    line-height: 1.25;
}
.block_1-2:hover{
    color: black;
    text-decoration: none;
}
.block_1-2:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    width: 273px;
}
.block_1-2:before{
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    position: relative;
    top: 24px;
    width: 316px;
}
.block_1-2:hover:after {
    transition-delay:100ms;
}
.block_1-2:hover:after, .block_1-2:hover:before { transform: scaleX(1); }
.block_1-2:after, .block_1-2:before{  transform-Origin:  0% 50%; }


.block_1-3{
    color: black;
    line-height: 1.25;
}
.block_1-3:hover{
    color: black;
    text-decoration: none;
}
.block_1-3:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    width: 310px;
}
.block_1-3:before{
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    position: relative;
    top: 24px;
    width: 322px;
}
.block_1-3:hover:after {
    transition-delay:100ms;
}
.block_1-3:hover:after, .block_1-3:hover:before { transform: scaleX(1); }
.block_1-3:after, .block_1-3:before{  transform-Origin:  0% 50%; }

.block_1-4{
    color: black;
    line-height: 1.25;
}
.block_1-4:hover{
    color: black;
    text-decoration: none;
}
.block_1-4:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    width: 273px;
}
.block_1-4:before{
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    position: relative;
    top: 24px;
    width: 316px;
}
.block_1-4:hover:after {
    transition-delay:100ms;
}
.block_1-4:hover:after, .block_1-4:hover:before { transform: scaleX(1); }
.block_1-4:after, .block_1-4:before{  transform-Origin:  0% 50%; }



.search {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
}

.search_1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 100%;
    padding: 5px;
    font-size: 33px;
    margin-top: -5px;
    margin-left: 20px;
}

.search_1_1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    border-radius: 20px;
    padding: 0 20px;
}
.search_1_2-1{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search_1:hover{
    width: 1000px;
    cursor: pointer;
    margin-left: -428px;
}

.search_1:hover .search_1_1{
    display: block;
    box-shadow: 0 0 4px 2px silver;
    font-size: 20px;

}
.search_1:hover .search_1_2-1{
    background: coral;
    color: white;
}

.khung4{
    text-align: center;
    font-size: 12px;
    width:50px;
    height: 22px;
    background-color: #2aabd2;
    /*transition:3s ease;*/
    padding-top: 2px;
}
.khung4:hover{
    background-color: #337ab7;
}
.khung4-1{
    color: white;
}
.khung4-1:hover{
    color: white;
    text-decoration: none;
}

.Khung{
    position: relative;
    top: 500px;
    z-index: 99;
    border: 1px solid #222222;
    background-color: #222222;
    width: 92px;
    margin-top: -36px;
}
.KHUNG_1{
    position: relative;
    top: 36px;
    left: 180px;
    z-index: 99;
    width: 92px;
    margin-top: -36px;
}
.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 80px;
    margin: 0 auto;
    border: 1px solid #337ab7;
}
.Khung_1{
    padding-left: 25px;
    position: relative;
    left: -9px;
    z-index: 1;
}
.KHUNG_1-1{
    padding-left: 25px;
    position: relative;
    left: -9px;
    z-index: 1;
}
.Khung{
    color: white;
}
.Khung_1:hover{
    color: white;
}
.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 650%;
    width: 220%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    margin-left: -5px;
}

.btn:hover:after {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}